{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Редактирование брелка</title>
</head>
<body>
    {% include 'back_button.html' %}
    <div class="form-content">
        <form class="registration-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Изменение брелка</h1>
            <div class="form-items">
                <label for="" class="inp">
                    {{ edit_keychain_form.title }}
                    <span class="label">Название</span>
                    <span class="focus-bg"></span>
                    {{ edit_keychain_form.title.errors }}
                </label>
                
                <span class="label">Категория</span>
                <br>
                {{ edit_keychain_form.category }}
                {{ create_keychain_form.category.errors }}

                <p>Описание брелка</p>
                {{ edit_keychain_form.description }}
                {{ edit_keychain_form.description.errors }}

                <label for="" class="inp">
                    {{ edit_keychain_form.price }}
                    <span class="label">Цена</span>
                    <span class="focus-bg"></span>
                    {{ edit_keychain_form.price.errors }}
                </label>
                <p>Изображение брелка</p>
                    {{ edit_keychain_form.img }}
                    {{ edit_keychain_form.img.errors }}
                    <button type="submit" class="submit-button">
                        Подтвердить
                    </button>
            </div>
        </form>
    </div>
</body>
