{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Изменение комментария</title>
</head>
<body>
    <div class="home-button">
        <a href="/">
            <img src="{% static 'img/home.png' %}" height="50px" width="50px">
        </a>
    </div>
    <div class="edit-comment-container">
        <div class="comment-content">
            <div class="comment-block">
                <form method="POST" enctype="multipart/form-data">
                <div class="commenting-user">
                    <img src="{{ current_user.user_img }}" width="50px" height="50px" class="user-avatar" id="user-avatar">
                    <h2>{{ current_user.login }}</h2>
                </div>
                {% csrf_token %}
                {{ edit_comment_form.content }}
                    {{ edit_comment_form.content.error_messages }}
                <button type="submit" class="submit-button" style="width: 150px">
                    Изменить
                    <img src="{% static 'img/edit_comment.png' %}" width="25px" height="25px">
                </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    let user_image = document.getElementById('user-avatar')

    if (!user_image.complete) {
        user_image.src = '{% static 'img/user_img_not_found.png' %}';
    }
    if (user_image.naturalWidth === 0) {
        user_image.src = '{% static 'img/user_img_not_found.png' %}';
    }


</script>