{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>История просмотра</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'back_button.html' %}
    <div class="listed-items-container">
        <h1 class="list-request-title">История просмотра</h1>

        <div class="listed-keychains">
        {% if history_keychains %}
            {% for keychain in history_keychains %}
                <a href="keychain?id={{ keychain.id }}">
                    <div class="item">
                        {% if keychain.img == '' %}
                            <img src="{% static 'img/not_found.png' %}" class="img_unselectable" width="250" height="250">
                        {% else %}
                            <img src="{{ keychain.img }}" class="img_unselectable" height="250">
                        {% endif %}
                        <div class="item_author-info">
                            <img src="{{ keychain.user.user_img }}" width="25" height="25" class="img_unselectable user-avatar-min">
                            <p>{{ keychain.user.login }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <h1 style="color: #dd5353">У вас пока что нету истории просмотра</h1>
        {% endif %}
        </div>
    </div>
</body>
</html>