{% load static %}
<div class="menu">
    <a href="/"><img src="{% static 'img/breloks.png' %}" width="100" height="100" class="logo img_unselectable"></a>

    <div class="user-actions">
        {% if not logged_user.user_login %}
        <div class="user-actions_buttons">
            <a href="/registration">
                <div class="main_page-button">
                    <p>Зарегистрироваться</p>
                </div>
            </a>
            <a href="/login">
                <div class="main_page-button">
                    <p>Авторизоваться</p>
                </div>
            </a>
        </div>
        {% else %}
            <div class="user-menu">
                <h3>{{ logged_user.user_login }}</h3>
                <img src="user_images/{{ logged_user.str_user_img }}"
                     class="img_unselectable user-avatar" height="75" width="75">
                <div class="logout-button-block">
                    <a href="logout">
                        <button class="logout-button" content="logout">
                            <span>выйти</span>
                            <img src="{% static 'img/logout.png' %}" width="18px" height="18px">
                        </button>
                    </a>
                </div>
            </div>
        {% endif %}


    </div>
</div>
<div class="items">
    {% for keychain in keychains %}
        <a href="keychain?id={{ keychain.id }}">
            <div class="item">

            {% if keychain.img == '' %}
                <img src="{% static 'img/not_found.png' %}" class="img_unselectable" width="250" height="250">
            {% else %}
                <img src="{% static keychain.img %}" class="img_unselectable" width="250" height="250">
            {% endif %}
            <div class="item_author-info">
                <img src="{% static 'img/user.png' %}" width="25" height="25" class="img_unselectable">
                <p>{{ keychain.user.login }}</p>
            </div>

            </div>
        </a>
    {% endfor %}
</div>
<link rel="stylesheet" href="{% static 'css/style.css' %}">