{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Главная</title>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/filter.js' %}"></script>
</head>
{% include 'menu_header.html' %}
<div class="menu filter-block">
    <div class="filter-options-block">
        <h2>Сортировать по:</h2>
        <div class="filter-option filter-price" style="height: min-content;">
            <div class="filter-option-title">
                <h3 id="h3-price" class="h3-price">стоимости</h3>
                <img src="{% static 'img/down_arrow.svg' %}" id="price-arrow" width="35px" height="35px" class="filter-arrow">
            </div>
            <div class="price-options" id="price-options">
                <div>
                    <p><a href="/?filter=price_asc&page=1" class="text-green">
                        по возр.
                        <img src="{% static 'img/down_arrow_green.png' %}" width="15px" height="12px" style="transform: rotate(180deg);">
                    </a>
                    </p>
                    <p class="text-red">
                        <a href="/?filter=price_desc&page=1" class="text-red">
                            по убыв.
                            <img src="{% static 'img/down_arrow_red.png' %}" width="15px" height="12px">
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="filter-option filter-popularity">
            <div class="filter-option-title">
                <h3 id="h3-popularity">популярности</h3>
                <img src="{% static 'img/down_arrow.svg' %}" id="popularity-arrow" width="35px" height="35px" class="filter-arrow">
            </div>
            <div class="popularity-options" id="popularity-options">
                <div class="filter-option-items">
                    <p>
                        <a href="/?filter=popularity_asc&page=1" class="text-green">
                            по возр.
                            <img src="{% static 'img/down_arrow_green.png' %}" width="15px" height="12px" style="transform: rotate(180deg);">
                        </a>
                    </p>
                    <p>
                        <a href="/?filter=popularity_desc&page=1" class="text-red">
                            по убыв.
                            <img src="{% static 'img/down_arrow_red.png' %}" width="15px" height="12px">
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="filter-option filter-category">
            <div class="filter-option-title">
                <h3 id="h3-category">категории</h3>
                <img src="{% static 'img/down_arrow.svg' %}" id="category-arrow" width="35px" height="35px" class="filter-arrow">
            </div>
            <div class="category-options" id="category-options">
                <div class="options-list">
                    {% for category in categories %}
                        <p><a href="/?filter=category_{{ category.category }}&page=1">{{ category.category }}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="filter-option filter-rating">
            <div class="filter-option-title">
                <h3 id="h3-rating">рейтингу</h3>
                <img src="{% static 'img/down_arrow.svg' %}" id="rating-arrow" width="35px" height="35px" class="filter-arrow">
            </div>
            <div class="rating-options" id="rating-options">
                <div class="filter-option-items">
                    <div class="filter-rating-option">
                        <a href="/?filter=rating_0&page=1" class="a-star">
                            <span>Без рейтинга</span>
                        </a>
                    </div>
                    <div class="filter-rating-option">
                        <a href="/?filter=rating_1&page=1" class="a-star">
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span>1</span>
                        </a>
                    </div>
                    <div class="filter-rating-option">
                        <a href="/?filter=rating_2&page=1" class="a-star">
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span>2</span>
                        </a>
                    </div>
                    <div class="filter-rating-option">
                        <a href="/?filter=rating_3&page=1" class="a-star">
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span>3</span>
                        </a>
                    </div>
                    <div class="filter-rating-option">
                        <a href="/?filter=rating_4&page=1" class="a-star">
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star"></span>
                            <span>4</span>
                        </a>
                    </div>
                    <div class="filter-rating-option">
                        <a href="/?filter=rating_5&page=1" class="a-star">
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span class="fa fa-star star-checked"></span>
                            <span>5</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <button class="user-actions_button button-red"><a href="/" style="color: white;">Сбросить</a></button>
    </div>
    <!-- <button class="filter-button user-actions_button filter-button-min button-green">
        <img src="{% static 'img/up_arrow.png' %}" class="filter-icon">
    </button>
    <button class="filter-button user-actions_button filter-button-min button-red">
        <img src="{% static 'img/down_arrow.png' %}" class="filter-icon">
    </button> -->
</div>
<div class="items">
    {% for keychain in keychains %}
        <div class="item">
            {% if keychain.img == '' %}
                <img src="{% static 'img/not_found.png' %}" width="250" height="250">
            {% else %}
                <a href="keychain?id={{ keychain.id }}">
                    <img src="{{ keychain.img }}" height="250" alt="{{ keychain.title }}">
                </a>
            {% endif %}
            <div class="item_author-info">
                <img src="{{ keychain.user.user_img }}" width="25" height="25" class="img_unselectable user-avatar-min">
                <p><a href="user_info?user_id={{ keychain.user.id }}">{{ keychain.user.login }}</a></p>
            </div>
        </div>
    {% endfor %}
</div>
<div class="paginator">
    {% for page_number in keychains.paginator.page_range %}
        {% if page_number == keychains.number %}
            <div class="paginator-page">
                <a href="/?page={{ page_number }}&filter={{ filter_option }}">
                    <h2 style="color: #0077FF">{{ page_number }}</h2>
                </a>
            </div>
        {% else %}
            <div class="paginator-page">
                <a href="/?page={{ page_number }}&filter={{ filter_option }}">
                    <h2 style="color: black">{{ page_number }}</h2>
                </a>
            </div>
        {% endif %}

    {% endfor %}
</div>
</html>