{% load static %}

<a style="position: absolute; font-size: 25px;" href="/">На главную</a>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="keychain-container">
    <div class="keychain-content">
        <div class="keychain-title-image">
            <h1>{{ keychain.title }}</h1>
            <img src="{{ keychain.img }}" width="512px" height="512px">
        </div>
        <div class="keychain-desc">
            <h1>Описание</h1>
            <p>{{ keychain.description }}</p>
            <div class="keychain_author-info">
                <h1>Автор</h1>
                <div class="keychain_author-login-img">
                    <img src="{{ keychain.user.user_img }}" class="user-avatar" id="user-avatar">
                    <h2>{{ keychain.user.login }}</h2>
                </div>
            </div>
            <h1>Цена</h1>
            <p class="keychain-price">{{ keychain.price }} ₽</p>

        </div>
    </div>
    <h1>Комментарии</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ create_comment_form.content }}
        <button type="submit" class="submit-button">
            Создать комментарий
        </button>
        {% for comment in comments %}
    </form>

    <div class="comment">
        <div class="comment-content">
            <img src="{{ comment.user.user_img }}" id="user-avatar" class="user-avatar">
            <h2>{{ comment.user.login }}</h2>
            {% if current_user_id == comment.user.id %}
            <div class="comment-actions">
                <a href="delete_comment?comment_id={{ comment.id }}">
                    <img src="{% static 'img/remove.png' %}" width="25px" height="25px">
                </a>
                <img src="{% static 'img/draw.png' %}" width="25px" height="25px">
            </div>
            {% endif %}
        </div>
        <p>{{ comment.content }}</p>
    </div>
    {% endfor %}
</div>


</body>
</html>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script>
    let user_image = document.getElementById('user-avatar')
    if (!user_image.complete) {
        user_image.src = '{% static 'img/user_img_not_found.png' %}';
    }
    if (user_image.naturalWidth === 0) {
        user_image.src = '{% static 'img/user_img_not_found.png' %}';
    }
</script>