{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>{{ keychain.title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- <script src="{% static 'js/cart.js' %}"></script> -->
    <script src="{% static 'js/resize.js' %}"></script>
    <script src="{% static 'js/cart_json.js' %}"></script>
</head>
<body>

{% include 'menu_header.html' %}
<div class="keychain-container">
    <div class="keychain-content">
        <div class="keychain-title-image">
            <h1 id="keychain-title-value">{{ keychain.title }}</h1>
            <img src="{{ keychain.img }}" height="512px" id="keychain_image">
        </div>
        <div class="keychain-description-block">
            <h1>Дополнительная информация</h1>
            <h2 style="margin: 0">Описание</h2>
            <p>{{ keychain.description }}</p>
            <div class="keychain-author-info">
                <h2 style="margin: 0">Автор</h2>
                <a href="/user_info?user_id={{ keychain.user.id }}">
                <div class="keychain-author-login-img-block">
                    <img src="{{ keychain.user.user_img }}" class="user-avatar-keychain-author">
                    <h3>{{ keychain.user.login }}</h3>
                </div>
                </a>
                    {% if logged_user and logged_user.logged_user_id != keychain.user.id %}
                        <h2 style="margin: 0">Коммуникация</h2>
                        <a href="/send_email?to={{ keychain.user.id }}">
                            <button class="user-actions_button send-email-button-min" style="margin-right: 45px">
                                Сообщение на почту
                                <img src="{% static 'img/email.png' %}" width="25px" height="25px">
                            </button>
                        </a>
                    {% endif %}
            </div>

            <div class="keychain-price-title">
                <h2>Цена</h2>
                <img src="{% static 'img/price.png' %}" width="25px" height="25px">
            </div>
            <div class="keychain-price-block">
                <p class="keychain-price" id="keychain-price-value">{{ keychain.price }}</p><p class="keychain-price"> ₽</p>
            </div>
            {% if logged_user.logged_user_id %}
            <div class="add-cart-block">
                <form method="post" name="add-cart" id="add-cart-form">
                    {% csrf_token %}
                    <input id='cart-submit-plus' type='submit' name='submit' value='Добавить в корзину'>
                    <!-- <button type="submit" name="action" value="min">min</button> -->
                </form>
                <form method="post" name="substract-cart" id="substract-cart-form">
                    {% csrf_token %}
                    <input id='cart-submit-minus' type='submit' name='submit' value='Удалить из корзины' {% if hide_minus_cart %} hidden {% endif %}>
                    <!-- <button type="submit" name="action" value="min">min</button> -->
                </form>
            </div>
            {% endif %}

            <!-- <button class="cart-button">Добавить в корзину</button> -->
        </div>
    </div>
    <h1 class="comments-section-title" id="comments">Комментарии</h1>
    {% if logged_user.logged_user_id %}
    <div class="comment-block-container">
        <div class="create-comment-section">
            <form method="POST" enctype="multipart/form-data" name="comment-form">
                <div class="comment-block">
                    <div class="commenting-user">
                        <img src="{{ logged_user.logged_user_img }}" width="50px" height="50px" class="user-avatar">
                        <h2>{{ logged_user.logged_user_login }}</h2>
                    </div>
                    {% csrf_token %}
                    {{ create_comment_form.content }}
                    {{ create_comment_form.content.errors }}
                    <button type="submit" class="submit-button" style="width: 220px">
                        Комментировать
                        <img src="{% static 'img/comment.png' %}" width="25px" height="25px">
                    </button>

                </div>
            </form>
        </div>


        {% else %}
            <h2 style="color: #dd5353">Войдите в систему, чтобы оставлять комментарии</h2>
        {% endif %}

        <div class="comment-section">
            {% for comment in comments %}
            <div class="comment">
                <div class="comment-content">
                    <a href="/user_info?user_id={{ comment.user.id }}">
                        <img src="{{ comment.user.user_img }}" id="user-avatar" class="user-avatar">
                    </a>
                    <h2>{{ comment.user.login }}</h2>
                    {% if logged_user.logged_user_id == comment.user.id %}
                    <div class="comment-actions">
                        <a href="delete_comment?comment_id={{ comment.id }}">
                            <img src="{% static 'img/remove.png' %}" width="25px" height="25px" title="Удалить">
                        </a>
                        <a href="edit_comment?comment_id={{ comment.id }}">
                            <img src="{% static 'img/draw.png' %}" width="25px" height="25px" title="Изменить">
                        </a>
                    </div>
                    {% endif %}
                </div>
            <p class="comment-text">{{ comment.content }}</p>
            <p class="comment-creation-time">
                {% if comment.create_date.month == 1 %}
                {% endif %}
                {{ comment.create_date|date:'j E Y в H:i' }}
            </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="{% static 'script.js' %}"></script>
</body>
</html>
