{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'back_button.html' %}
    <div class="form-content">

        <form class="registration-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Авторизация</h1>
            <div class="form-items">
                <label for="{{ reg_form.login.html_name }}" class="inp">
                    {{ auth_form.username }}
                    <span class="label">Логин</span>
                    <span class="focus-bg"></span>
                    {{ auth_form.username.errors }}
                </label>
                <label for="password" class="inp">
                    {{ auth_form.password }}
                    <span class="label">Пароль</span>
                    <span class="focus-bg"></span>
                    {{ auth_form.password.errors }}
                </label>
                <div class="login-error-messages">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
                <button type="submit" class="submit-button">
                    Подтвердить
                </button>
            </div>
        </form>
    </div>
</body>