body {
  font-family: "Inter Medium", sans-serif;
  background-color: whitesmoke;
}
a {
  text-decoration: none;
  color: black;
}

a span {
  color: white;
}

.img_unselectable {
  pointer-events: none;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  margin: auto;
  width: 100%;
  padding: 20px 0 20px;
  border-color: black;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .04);
  max-width: 1440px;
}
.user-menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-right: 25px;
  gap: 25px;
}

.user-menu h3 {
  color: black;
}

.logout-button > img,
.logout-button > span {
  vertical-align: middle;
}

.user-avatar {
  border-radius: 50%;
  object-fit: cover;
  width: 75px;
  height: 75px;
}

.user-avatar-min {
  border-radius: 50%;
  object-fit: cover;
  width: 25px;
  height: 25px;
}

.user-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-actions_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.user-actions_buttons p {
  margin: 0
}

.menu h3 {
  margin: 0;
}
.logo {
  margin-left: 25px;
}
.items {
  max-width: 1440px;
  position: relative;
  margin: 15px auto auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.item {
  padding: 25px 35px;
  border-color: black;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .04);
  margin: 15px;
}
.item h1 {
  margin: 0 0 15px;
}
.item_author-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 10px 0 0;
}
.item_author-info p {
  margin: 0;
}
.item_author-info img {
  margin-right: 7px;
}
.main_page-button {
  display: flex;
  height: 30px;
  border-radius: 12px;
  align-items: center;
  font-size: 20px;
  margin-right: 10px;
  padding: 10px;
}
.main_page-button img {
  margin-right: 15px;
}
.form-content {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content h1 {
  text-align: center;
}

.form-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 25px;
  border-color: black;;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .04);
  margin: 15px;
}
.form-items label {
  margin-bottom: 25px;
}

.login-error-messages {
  color: red;
  margin-bottom: 30px;
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;
}
.inp .label:not(:last-child) {
  position: absolute;
  top: 20px;
  left: 12px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}
.inp .focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}
.inp input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 16px 12px 0 12px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  color: #000;
  transition: all 0.15s ease;
}

.inp input:hover {
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.inp input:not(:-moz-placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:-ms-input-placeholder) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus {
  background: rgba(0, 0, 0, 0.05);
  outline: none;
  box-shadow: inset 0 -2px 0 #0077FF;
}
.inp input:focus + .label {
  color: #0077FF;
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}

.errorlist {
  padding: 0;
  color: red;
  list-style: none;
}

.errorlist li {
  word-break: break-word;
}

.submit-button {
  font-size: 20px;
  font-family: "Inter Medium", sans-serif;
  width: 300px;
  height: 50px;
  color: white;
  background-color: #0077FF;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.submit-button > img {
  vertical-align: middle;
}

.file-load {
  margin-bottom: 30px;
}

.keychain-container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.keychain-content {
  display: flex;
  flex-direction: row;
  gap: 45px;
  align-items: center;
  position: relative;
  width: auto;
  border-color: black;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .04);
  padding: 0 45px 45px;
  margin-top: 30px;
}

.keychain-desc p:not(.keychain-price) {
  font-size: 20px;
}

.keychain_author-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 210px;
  gap: 30px;
  vertical-align: center;
}

.keychain_author-info h1 {
  margin: 0;
}

.keychain_author-login-img {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.keychain-container h1 {
  font-size: 40px;
}

.keychain-price {
  font-size: 50px;
  margin: 0;
}

.create-keychain_button {
  background-color: #0077FF !important;
  width: 220px;
}

.logout-button {
  background-color: #dd5353;
  width: 120px;
}

.registration-button {
  background-color: #52b788 !important;
  width: 280px;
}

.log_in_button {
  background-color: #0077FF !important;
  width: 120px;
}

.user-actions_button {
  font-family: "Inter Medium", sans-serif;
  color: white;
  height: 40px;
  font-size: 20px;
  border-radius: 25px;
  border: none;
  text-align: center;
  text-align-all: center;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
}

.user-actions_button > img,
.user-actions_button > span {
  vertical-align: middle;
}

.user-actions_buttons {
  margin-right: 30px;
}

.comments-section-title {
  margin-bottom: 20px;
}

.comment-block {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-color: black;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .04);
  max-width: 1440px;
}

.comment-block-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.comment-block form {
  margin-bottom: 0;
}

.comment-section {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.comment {
  display: inline-block;
  border-radius: 15px;
  padding: 20px;
  border-color: black;;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .04);
  width: auto;
  height: min-content;
  max-width: 1440px;
}

.comment-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 15px;
}


.comment h2 {
  margin: 0;
}

.comment-text {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 0;
}

.comment-creation-time {
  color: gray;
  margin-bottom: 0;
}

.comment-actions {
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #f0f0f2;
  border-radius: 50px;
  width: 80px;
}

.comment-actions a {
  width: 25px;
  height: 25px;
}

.comment-actions >img {
  vertical-align: center;
}

.textarea-input {
  font-family: "Inter Medium", sans-serif;
  font-size: 20px;
  width: 1000px;
  height: 100px;
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 20px;
}

.commenting-user {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: auto;
  margin-bottom: 15px;
}

.edit-comment-container {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
}

.edit-comment-block {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

.search-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-form {
  margin-bottom: 0;
}

input[id=search_input] {
  font-family: "Inter Medium", sans-serif;
  font-size: 18px;
  background-color: #f0f0f2;
  border: none;
  border-radius: 50px;
  height: 40px;
  padding-left: 15px;
  margin-right: 5px;
  padding-right: 69px;
  width: 300px;
}

input[id=search_input]:focus {
  outline: #0077FF solid 1px;
}

.search-button {
  background-color: #0077FF;
  border: none;
  width: 30px;
  border-radius: 50%;
  height: 30px;
}

.search-button > img {
  vertical-align: middle;
}

.clear-search-input {
  border-radius: 50%;
  margin-left: -66px;
  margin-right: 5px;
  cursor: pointer;
}

.listed-items-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.listed-keychains {
  position: relative;
  margin: 15px auto auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.user-avatar-large {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.found-users {
  display: flex;
  flex-direction: row;
}

.found-user-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
  padding: 25px 35px;
  border-color: black;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .04);
  margin: 15px;
}

.found-user-block h2 {
  margin-bottom: 0;
}

.search-category-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;
}

.search-category-title {
  font-size: 45px;
  margin-right: 10px;
}

.title-span {
  color: #0077FF;
}

.search-request-title > img {
  vertical-align: middle;
}

.user-info-container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.user-info-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-color: black;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .04);
  margin-bottom: 15px;
  padding: 20px;
}

.user-info-block-data {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: start;
  justify-content: center;
  gap: 5px;
}

.user-info-block-data h1 {
  text-align: start;
  margin: 0;
}

.user-avatar-max {
  border-radius: 50%;
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.user-info-reg-date {
  color: gray;
}

.user-info-keychain {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-color: black;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .04);
  padding: 20px;
  margin-right: 15px;
}

.user-info-keychain-data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.user-info-keychain-data h2, h3 {
  margin: 0;
}

.user-info-keychain-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.user-info-keychain-actions > a > img {
  vertical-align: middle;
}

.delete-keychain-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.delete-keychain-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .04);
}

.delete-keychain-showcase-block {
  display: flex;
  justify-content: center;
  margin-bottom: 15px
}

.delete-keychain-showcase {
  display: inline-flex;
  padding: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .04);
  border-radius: 10px;
  background-color: #f0f0f2;
}

.delete-keychain-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.delete-button {
  background-color: #dd5353;
}

.history-button {
  background-color: #52b788;
  padding-left: 15px;
  padding-right: 15px;
}

.send-email-button {
  background-color: #0077FF;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 25px;
  height: 50px;
}

.send-email-button-min {
  font-size: 20px;
  background-color: #0077FF;
  width: max-content;
  padding-left: 15px;
  padding-right: 15px;
}

.email-send-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .04);
  gap: 20px;
}

.email-send-container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.send-email-receiver {
  display: flex;
  flex-direction: row;
  background-color: #f0f0f2;
  border-radius: 10px;
  gap: 15px;
  padding: 10px 25px;
}

.back-button {
  background-color: #0077FF;
  width: 120px;
}

.back-button > img,
.back-button > span {
  vertical-align: middle;
}

.edit-user-info {
  background-color: #0077FF;
  width: 440px;
}

.edit-user-info > img,
.edit-user-info > span {
  vertical-align: middle;
}

.extra-user-info {
  margin-left: 40px;
}

.extra-user-info p {
  font-size: 20px;
  margin: 0;
}